# Datetime-Index

In [1]:
from datetime import datetime

In [2]:
# to illustrate the order of arguments
my_year = 2017
my_month = 1
my_day = 2
my_hour = 13
my_minute = 30
my_second = 15

In [3]:
# January 2nd, 2017
my_date = datetime(my_year, my_month, my_day)

In [4]:
# Default to 0:00
my_date

datetime.datetime(2017, 1, 2, 0, 0)

In [5]:
# January 2nd, 2017 at 13:30:15
my_date_time = datetime(my_year, my_month, my_day, my_hour, my_minute, my_second)

In [6]:
my_date_time

datetime.datetime(2017, 1, 2, 13, 30, 15)

In [7]:
my_date_time.hour

13

# NumPy Datetime Arrays
We mentioned that NumPy handles dates more efficiently than Python's datetime format.

The NumPy data type is called datetime64 to distinguish

In [12]:
import pandas as pd
import numpy as np

In [14]:
# Create an array from 3 dates
np.array(['2016-03-15', '2017-05-24', '2018-08-09'], dtype = 'datetime64')

array(['2016-03-15', '2017-05-24', '2018-08-09'], dtype='datetime64[D]')

In [15]:
np.array(['2016-03-15', '2017-05-24', '2018-08-09'], dtype = 'datetime64[h]')

array(['2016-03-15T00', '2017-05-24T00', '2018-08-09T00'],
      dtype='datetime64[h]')

In [16]:
np.array(['2016-03-15', '2017-05-24', '2018-08-09'], dtype = 'datetime64[Y]')

array(['2016', '2017', '2018'], dtype='datetime64[Y]')

# NumPy Date Ranges

Just as np.arange(start, stop, step) can be used to produce an array of evenly- spaced integers, we can pass a dtype argument to obtain an array of dates.
Remember that teh stop date is exclusiove

In [17]:
# An array of dates from 6/1/18 to 6/22/18 spaced one week apart
np.arange('2018-06-01','2018-06-23',7, dtype = 'datetime64[D]')

array(['2018-06-01', '2018-06-08', '2018-06-15', '2018-06-22'],
      dtype='datetime64[D]')

By omitting the step value we can obtain every value based on the precision.

In [18]:
# An array of dates for every year from 1968 to 1975
np.arange('1968','1976',dtype = 'datetime64[Y]')

array(['1968', '1969', '1970', '1971', '1972', '1973', '1974', '1975'],
      dtype='datetime64[Y]')

# Pandas Datatime Index
We will usually deal with the time series as s datetime index when working with pandas dataframes.
Fortunately pandas has a lot of functions and methods to work with time series!

For more on the pandas DatatimeIndex visit https://pandas.pydata.org/pandas-docs/stable/timeseries.html

In [19]:
import pandas as pd

The simplest way to build a DatatimeIndex is with the pd.date_range() method:

In [21]:
# The week of July 8th, 2018
idx = pd.date_range('7/8/2018', periods = 7, freq = 'D')
idx

DatetimeIndex(['2018-07-08', '2018-07-09', '2018-07-10', '2018-07-11',
               '2018-07-12', '2018-07-13', '2018-07-14'],
              dtype='datetime64[ns]', freq='D')

Another way is to convert incoming text with the pd.to_datetime() method:

In [22]:
idx = pd.to_datetime(['Jan 01, 2018', '1/2/18', '03-Jan-2018', None])
idx

DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', 'NaT'], dtype='datetime64[ns]', freq=None)

The third way is to pass a list or an array of datetime objects into the pd.DatetimeIndex() method:

In [23]:
# Create a numpy datetime array
some_dates = np.array(['2016-03-15','2017-05-24','2018-08-09'], dtype='datetime64[D]')

In [24]:
some_dates

array(['2016-03-15', '2017-05-24', '2018-08-09'], dtype='datetime64[D]')

In [25]:
# Convert to an index
idx = pd.DatetimeIndex(some_dates)
idx

DatetimeIndex(['2016-03-15', '2017-05-24', '2018-08-09'], dtype='datetime64[ns]', freq=None)

Notice that even though the dates came into pandas with a day-level precision, pandas assigns a nanosecond- level precison]

# Pandas Datetime Analysis

In [26]:
# Create some random data
data = np.random.randn(3,2)
cols = ['A','B']
print(data)

[[ 1.1391742  -1.56396912]
 [ 0.01436633  0.14532238]
 [ 0.45020085  0.34464953]]

In [27]:
# Create a DataFrame with our random data, our data index, and our columns
df = pd.DataFrame(data, idx, cols)
df

                   A         B
2016-03-15  1.139174 -1.563969
2017-05-24  0.014366  0.145322
2018-08-09  0.450201  0.344650

Now we can perform a typicalanalysis of our DataFrame

In [28]:
df.index

DatetimeIndex(['2016-03-15', '2017-05-24', '2018-08-09'], dtype='datetime64[ns]', freq=None)

In [29]:
# Latest Data Value
df.index.max()

Timestamp('2018-08-09 00:00:00')

In [30]:
# Latest Date Index Location
df.index.argmax()

2

In [32]:
# Earliest Date Index Location
df.index.argmin()

0